.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.headerContent {
  position: absolute;
  bottom: 20px; /* 버튼 위치 조정 */
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn__blue:hover {
  background-color: #0056b3;
}
